/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 90%;
  display: flex;
  justify-content: center;
}

.tasks-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks-list .header {
  text-align: center;
  margin: 40px 0 20px 0;
  color: #9A4444;
}

.tasks-list .option {
  margin: 20px 0 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.tasks-list .option .btn {
  margin: 0 10px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.tasks-list #tasks {
  table-layout: fixed;
  border-collapse: collapse;
}

.tasks-list #tasks th {
  background-color: #9A4444;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.tasks-list #tasks tbody td {
  padding: 20px 0;
  text-align: center;
}

.tasks-list #tasks thead th:first-child,
.tasks-list #tasks tbody td:first-child {
  min-width: 130px;
}

.tasks-list #tasks thead th:nth-child(2),
.tasks-list #tasks tbody td:nth-child(2) {
  min-width: 200px;
  font-weight: bold;
}

.tasks-list #tasks thead th:nth-child(3),
.tasks-list #tasks tbody td:nth-child(3) {
  min-width: 90px;
}

.tasks-list #tasks thead th:nth-child(4),
.tasks-list #tasks tbody td:nth-child(4) {
  min-width: 300px;
}

.tasks-list #tasks thead th:nth-child(5),
.tasks-list #tasks tbody td:nth-child(5) {
  min-width: 130px;
}

.tasks-list #tasks thead th:nth-child(6),
.tasks-list #tasks tbody td:nth-child(6) {
  min-width: 100px;
}

.tasks-list #tasks thead th:nth-child(7),
.tasks-list #tasks tbody td:nth-child(7) {
  min-width: 200px;
}

.tasks-list #tasks tbody tr:nth-of-type(even) {
  background-color: #F4DFB6;
}

.tasks-list #tasks tbody tr:nth-of-type(odd) {
  background-color: #DE8F5F;
}

.tasks-list #tasks .status {
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  width: 100px;
}

.incomplete {
  background-color: #dc3545;
}

.complete {
  background-color: #28a745;
}

.form-container {
  width: 100%;
  background: red;
  padding: 40px 20px 20px 20px;
  text-align: center;
}

.form-container h1 {
  color: #9A4444;
  margin-bottom: 20px;
}

.form-container a {
  display: block;
  text-decoration: none;
  color: black;
  margin-top: 15px;
}

.form {

}

.form input[type="submit"], .btn {
  border-radius: 10px;
  background-color: #D6D46D;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s;
  color: black;
}

.form input[type="submit"]:hover, .btn:hover {
  opacity: 0.8;
  cursor: pointer;
}


.btn a {
  text-decoration: none;
  color: #9A4444;
}

@media (max-width: 767px) {
  body {
    width: 95%;
  }
  .tasks-list .option {
    flex-direction: column;
  }
  .tasks-list .option .btn {
    margin: 10px;
  }
}